<!DOCTYPE html>
<html>
    <head>
        <title>Admin</title>
        <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
    </head>
    
    <body>
        <header>
            <h1> LTU Hospital</h1>
        </header>
        
        <div class="navbar">
            <ul>
                <li><a href="{{ url_for('landing') }}">Home</a></li>
                <li><a href="{{ url_for('information') }}">Information</a></li>
                {% if 'user_id' in session %}
                    <li><a href="{{ url_for('update_info') }}">Update Infomation</a></li>
                    <li><a href="{{ url_for('user_info') }}">Account</a></li>
                    <li><a href="{{ url_for('logout') }}">Logout</a></li>
                {% else %}
                    <li><a href="{{ url_for('Login') }}">Login</a></li>
                    <li><a href="{{ url_for('Signup') }}">Sign Up</a></li>
                {% endif %}
            </ul>
        </div>
        
        <h1>Admin Dashboard</h1>
        <h2>Users List</h2>
        <table>
            <tr>
                <th>User ID</th>
                <th>Username</th>
            </tr>
            {% for user in users %}
            <tr>
                <td>{{ user['u_id'] }}</td>
                <td>{{ user['u_username'] }}</td>
            </tr>
            {% endfor %}
        </table>
    
        <h2>Patients List</h2>
        <table>
            <tr>
                <th>Patient ID</th>
                <th>Gender</th>
                <th>Age</th>
            </tr>
            {% for patient in patients %}
            <tr>
                <td>{{ patient[0] }}</td>
                <td>{{ patient[1] }}</td>
                <td>{{ patient[2] }}</td>
            </tr>
            {% endfor %}
        </table>
    
        <a href="{{ url_for('logout') }}">Logout</a>















    
    
        <footer>
        <p>2024 Database Website | All rights reserved</p>
        </footer>
    
    </body>




</html>