<!DOCTYPE html>
<html>
    <head>
        <title>Home</title>
    </head>
    <body>
        
    <header>
        <h1>Welcome to LTU Hospital</h1>
    </header>

    <nav>
        <a href="Home.html">Home</a>
        <a href="Infomation.html">Infomation</a>
        <a href="About.html">About Us</a>
        <a href="Login.html">Login</a>
    </nav>

    <div class="container">
        <h2>Home</h2>
        <p> placeholder</p>

    </div>

    <footer>
        <p>2024 Database Website | All rights reserved</p>
    </footer>
    </body>
</html>