<!DOCTYPE html>
<html>
    <head>
        <title>Home</title>
        <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
    </head>

    <body>
        <header>
            <h1> LTU Hospital</h1>
        </header>
        
        <dic class="navbar">
            <ul>
                <li><a href="/">Home</a></li>
                <li><a href="Information">Information</a></li>
                <li><a href="Signup">Sign up</a></li>
                <li><a href="Login">Login</a></li>
            </ul>
        </dic>
    





        











    
    
    <footer>
        <p>2024 Database Website | All rights reserved</p>
    </footer>
    
    </body>



</html>