<!DOCTYPE html>
<html>
    <head>
        <title>Lol</title>
    </head>
    <body>
        
    <header>
        <h1>Welcome to My Website</h1>
    </header>

    <nav>
        <a href="#Home">Home</a>
        <a href="#About">About</a>
        <a href="#Contact">Services</a>
        <a href="#Login">Contact</a>
    </nav>

    <div class="container">
        <h2>Home</h2>
        <p> placeholder</p>

        <h2>About</h2>
        <p></p>

        <h2>Services</h2>
        <p> placeholder</p>

        <h2>Contact</h2>
        <p>placeholder</p>
    </div>

    <footer>
        <p>2024 Database Webstie | All rights reserved</p>
    </footer>
    </body>
</html>