<!DOCTYPE html>
<html>
    <head>
        <title>Infomation About Strokes</title>
        <img src="{{ url_for('static', filename='LTU logo.png') }}" alt="LTU Logo" class="logo">
        <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
    </head>

    <body>
        <header>
            <h1> LTU Hospital</h1>
        </header>
        
        <!-- nav bar -->
        <div class="navbar">
            <ul>
                <li><a href="{{ url_for('landing') }}">Home</a></li>
                <li><a href="{{ url_for('information') }}">Information</a></li>
                {% if 'user_id' in session %}
                    {% if session['is_admin'] %}
                        <li><a href="{{ url_for('admin') }}">Admin</a></li>
                    {% else %}
                        <li><a href="{{ url_for('update_info') }}">Update Information</a></li>
                    {% endif %}
                    <li><a href="{{ url_for('user_info') }}">Account</a></li>
                    <li><a href="{{ url_for('logout') }}">Logout</a></li>
                {% else %}
                    <li><a href="{{ url_for('Login') }}">Login</a></li>
                    <li><a href="{{ url_for('Signup') }}">Sign Up</a></li>
                {% endif %}
            </ul>
        </div>









    
    
    <footer>
        <p>2024 Database Website | All rights reserved</p>
    </footer>
    
    </body>




</html>