<!DOCTYPE html>
<html>
    <head>
        <title>Login</title>
        <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
    </head>

    <body>
        <header>
            <h1> LTU Hospital</h1>
        </header>
        
        <!-- nav bar -->
        <div class="navbar">
            <ul>
                <li><a href="{{ url_for('landing') }}">Home</a></li>
                <li><a href="{{ url_for('information') }}">Information</a></li>
                {% if 'user_id' in session %}
                    <li><a href="{{ url_for('update_info') }}">Update Infomation</a></li>
                    <li><a href="{{ url_for('user_info') }}">Account</a></li>
                    <li><a href="{{ url_for('logout') }}">Logout</a></li>
                {% else %}
                    <li><a href="{{ url_for('Login') }}">Login</a></li>
                    <li><a href="{{ url_for('Signup') }}">Sign Up</a></li>
                {% endif %}
            </ul>
        </div>

        <!-- for error splash screen-->
        {% with messages = get_flashed_messages() %}
        {% if messages %}
          <div class="alert">
            {% for message in messages %}
              <p>{{ message }}</p>
            {% endfor %}
          </div>
        {% endif %}
        {% endwith %}
  
          <!-- login box -->
        <div class="login-form">
            <h2>Login</h2>
            <form method="POST" action="{{ url_for('Login') }}">
                <label for="username">Username:</label>
                <input type="text" id="username" name="username" required>

                <label for="password">Password:</label>
                <input type="password" id="password" name="password" required>

                <button type="submit">Login</button>
            </form>
        </div>


    <footer>
        <p>2024 Database Website | All rights reserved</p>
    </footer>
    
    </body>




</html>