<!DOCTYPE html>
<html>
    <head>
        <title>Account Infomation</title>

        <!-- CSS-->
        <img src="{{ url_for('static', filename='LTU logo.png') }}" alt="LTU Logo" class="logo">
        <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
    </head>
    
    <body>
        <!-- Header -->
        <header>
            <h1> LTU Hospital</h1>
        </header>
        
        <!-- Nav bar -->
        <div class="navbar">
            <ul>
                <li><a href="{{ url_for('landing') }}">Home</a></li>
                <li><a href="{{ url_for('information') }}">Information</a></li>
                {% if 'user_id' in session %}
                    {% if session['is_admin'] %}
                        <li><a href="{{ url_for('admin') }}">Admin</a></li>
                    {% else %}
                        <li><a href="{{ url_for('update_info') }}">Update Information</a></li>
                    {% endif %}
                    <li><a href="{{ url_for('user_info') }}">Account</a></li>
                    <li><a href="{{ url_for('logout') }}">Logout</a></li>
                {% else %}
                    <li><a href="{{ url_for('Login') }}">Login</a></li>
                    <li><a href="{{ url_for('Signup') }}">Sign Up</a></li>
                {% endif %}
            </ul>
        </div>
        
        <!-- Showing user data from SQLite -->
        <h2>Account Information</h2>
        <div class="account-info">
            <p><strong>User ID:</strong> {{ user['u_id'] }}</p>
            <p><strong>Gender:</strong> {{ patient[1] }}</p>
            <p><strong>Age:</strong> {{ patient[2] }}</p>
            <p><strong>Hypertension:</strong> 
                {% if patient[3] == 1 %}
                    Yes
                {% else %}
                    No
                {% endif %}
            </p>
            <p><strong>Heart Disease:</strong> {{ "Yes" if patient[4] == 1 else "No" }}</p>
            <p><strong>Ever Married:</strong> {{ patient[5] }}</p>
            <p><strong>Work Type:</strong> {{ patient[6] }}</p>
            <p><strong>Residence Type:</strong> {{ patient[7] }}</p>
            <p><strong>Average Glucose Level:</strong> {{ patient[8] }}</p>
            <p><strong>BMI:</strong> {{ patient[9] }}</p>
            <p><strong>Smoking Status:</strong> {{ patient[10] }}</p>
            <p><strong>History of Stroke:</strong> 
                {% if patient[11] == 1 %}
                    Yes
                {% else %}
                    No
                {% endif %}
            </p>

        <!-- Delete Button -->
        </div>
        <div class="delete-button-container">
            <form action="{{ url_for('delete_account') }}" method="post" onsubmit="return confirm('Are you sure you want to delete your account?');">
            <button type="submit" class="delete-button">Delete Account</button>
             </form>
        </div>
    
        <!-- Footer -->
        <footer>
        <p>2024 Database Website | All rights reserved</p>
        </footer>
    
    </body>




</html>